# SASS
.sass-cache/
*.map

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# System Files
.DS_Store

# npm
.eslintrc.json
.eslintrc.yml
package-lock.json
package.json
node_modules
