@mixin win {
    color: red;
}

.card {
    display: flex;
    margin: auto;
    min-height: 100vh;
    max-width: 400px;
    flex-direction: column;
    box-shadow: none;
}

header {
    h1 {
        font-family: 'Work Sans', sans-serif;
        font-size: 2.5rem;
        letter-spacing: 6px;
    }

    #players-info {
        display: grid;
        grid-template-columns: 1fr 4rem 1fr;
        padding: 1rem;

        >:nth-child(3) {
            direction: rtl;
        }

        div {
            display: grid;
            grid-template-columns: 2rem auto auto;
            height: 2rem;
            font-weight: bold;
            color: #aeaeae;

            :nth-child(1) {
                font-family: 'Fredoka One', cursive;
                font-weight: 100;
                font-size: 2rem;
                line-height: 1rem;
            }
        }

        @mixin active-player {
            border-bottom: 3px solid red;
            color: black;
        }

        &.play {


            &.p1 {
                >:nth-child(1) {
                    @include active-player()
                }
            }

            &.p2 {
                >:nth-child(3) {
                    @include active-player()
                }
            }
        }

        &.win {
            &.p1 {
                >:nth-child(1) {
                    @include win()
                }
            }

            &.p2 {
                >:nth-child(3) {
                    @include win()
                }
            }
        }
    }
}

#board {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .cell {
        padding-top: 100%;
        border-radius: 10px;
        position: relative;

        &::before {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            display: grid;
            justify-content: center;
            align-content: center;

            content: "+";
            font-size: 1.5rem;
            color: #efefef;
        }

        &.marked {
            &::before {
                font-family: 'Fredoka One', cursive;
                font-size: 9rem;
                line-height: 1.5rem;
            }

            &.x {
                &::before {
                    content: "X";
                }
            }

            &.o {
                &::before {
                    content: "O";
                }
            }

            &.win {
                &::before {
                    @include win()
                }
            }
        }
    }

    &.active {
        .cell {
            &::before {
                color: black;
            }

            &.unmarked {
                &:hover {
                    &::before {
                        font-family: 'Fredoka One', cursive;
                        font-size: 5rem;
                    }
                }
            }
        }

    }
}

.card-reveal {
    button {
        &.card-title {
            margin: auto;
            font-size: 14px;
            font-weight: 400;
        }
    }

}

.btn {
    color: black;
    background-color: white;
    border: 2px solid black;
    box-shadow: none;

    &:hover {
        background-color: white;
        box-shadow: none;
    }
}